pkgbase = brave-bin
	pkgdesc = Web browser that blocks ads and trackers by default (binary release).
	pkgver = 1.20.108
	pkgrel = 1
	epoch = 1
	url = https://brave.com/download
	arch = x86_64
	license = MPL2
	license = BSD
	license = custom:chromium
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = libxss
	depends = ttf-font
	optdepends = cups: Printer support
	optdepends = libgnome-keyring: Enable GNOME keyring support
	optdepends = libnotify: Native notification support
	provides = brave
	provides = brave-browser
	conflicts = brave
	noextract = brave-bin-1.20.108.zip
	options = !strip
	source = brave-bin-1.20.108.zip::https://github.com/brave/brave-browser/releases/download/v1.20.108/brave-browser-1.20.108-linux-amd64.zip
	source = brave-bin.sh
	sha512sums = 6484a49e24ff814f35c42a9947b1b3ee9c872e5a2eba1dd38973249c75b5fbe2329fcef4e128b3effb8a4f9e7a1c82632a0858b8094159bf601f37edc769dc2e
	sha512sums = d55753af6b302e807460d166a30c8cce3d6f10510a66eb783f28c5d7c40cd08d5d27af76b80dd0e57d9b3bfc9e79ca32936511df6cb68a2204304a56dfb97c77

pkgname = brave-bin

