pkgbase = brave-bin
	pkgdesc = Web browser that blocks ads and trackers by default (binary release).
	pkgver = 1.18.78
	pkgrel = 1
	epoch = 1
	url = https://brave.com/download
	arch = x86_64
	license = MPL2
	license = BSD
	license = custom:chromium
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = libxss
	depends = ttf-font
	optdepends = cups: Printer support
	optdepends = pepper-flash: Adobe Flash support
	optdepends = libgnome-keyring: Enable GNOME keyring support
	optdepends = libnotify: Native notification support
	provides = brave
	provides = brave-browser
	conflicts = brave
	noextract = brave-bin-1.18.78.zip
	options = !strip
	source = brave-bin-1.18.78.zip::https://github.com/brave/brave-browser/releases/download/v1.18.78/brave-browser-1.18.78-linux-amd64.zip
	source = brave-bin.sh
	sha512sums = 61c7147248466eb7d73500cc27132bd2e7b13d4f5d602b6c9889b525fe190e4113a8df6458c0218e17dade94fd2488148e2e317a9bc539701593c4ca1cd5565b
	sha512sums = ff4146c6337d84ecd602e946311a042f6783ef47c1b2e4111ee152e4129df1d7bf09213e1ba1928e85d9c277937e08521ff8d6eb504c34e77082f78a08a099d2
	
pkgname = brave-bin

