pkgbase = brave-bin
	pkgdesc = Web browser that blocks ads and trackers by default (binary release).
	pkgver = 1.19.92
	pkgrel = 1
	epoch = 1
	url = https://brave.com/download
	arch = x86_64
	license = MPL2
	license = BSD
	license = custom:chromium
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = libxss
	depends = ttf-font
	optdepends = cups: Printer support
	optdepends = libgnome-keyring: Enable GNOME keyring support
	optdepends = libnotify: Native notification support
	provides = brave
	provides = brave-browser
	conflicts = brave
	noextract = brave-bin-1.19.92.zip
	options = !strip
	source = brave-bin-1.19.92.zip::https://github.com/brave/brave-browser/releases/download/v1.19.92/brave-browser-1.19.92-linux-amd64.zip
	source = brave-bin.sh
	sha512sums = 88ce12722f9bedda78c0d262f458714df1ffe3a82d11dd51931c39a82814741ec52e2ba51ad892644d79f265480a61c760cb71f611d1a3edce0a65bc92b20fbb
	sha512sums = d55753af6b302e807460d166a30c8cce3d6f10510a66eb783f28c5d7c40cd08d5d27af76b80dd0e57d9b3bfc9e79ca32936511df6cb68a2204304a56dfb97c77

pkgname = brave-bin

